/.ipynb_checkpoints
/.idea
/Machine Learning Projects/.ipynb_checkpoints/
/Machine Learning Projects/Diabetes Dataset Project/.ipynb_checkpoints/
/Machine Learning Projects/Medical Cost Dataset Project/.ipynb_checkpoints/
